{% extends 'base.html' %}
{% block content %}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{album.category.title}}</li>
  </ol>
</nav>
  <h1>{{ album.title }}</h1>
  {% for image in images %}
    <figure class="figure">
    <a href="{% url 'ims_view_image' image.id %}">
    <img class="figure-img img-fluid rounded" alt="{{ image.title }}" src="/{{ image.sm_file.photo.url }}" />
    <figcaption class="figure-caption text-center">{{ image.title }}</figcaption>
    </a>
  </figure>
  {% endfor %}
{% endblock %}