{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}
{% block header %}
  <style>
    .thumbs {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }

    .thumbs img {
      border: 1px;
      width: 180px;
      height: 180px;
      object-fit: contain;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a class="btn btn-sm btn-outline-secondary">
              {% if 1 %}
                <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M6.646 11.646a.5.5 0 01.708 0L10 14.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z"
                        clip-rule="evenodd"></path>
                  <path fill-rule="evenodd" d="M10 4.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd"></path>
                </svg>
              {% endif %}
              Date
            </a>
            <a class="btn btn-sm btn-outline-secondary">
              Name
            </a>
          </div>
          <div class="btn-group mr-2">
            <a type="button" class="btn btn-sm btn-outline-primary" href="{% url 'create_album' %}">New Album</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% for album in object_list %}
      <div class="card thumbs text-center" style="width: 18rem;">
        <a href="{% url 'ims.album_view' album.id %}">
          {% if album.image_set.all %}
          <img src="{{ album.image_set.all.0.md_file.photo.url }}"/>
          {% else %}
            <img src="{% static 'ims/images/empty.png' %}"/>
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{ album.title }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% bootstrap_paginate page_obj %}
{% endblock %}