{% extends 'base.html' %}
{% load static %}
{% block header %}
  <link rel="stylesheet" href="/static/css/fileinput.min.css" >
  <link rel="stylesheet" href="/static/css/all.min.css" >
{% endblock %}
{% block content %}
    <div>
      <form method="POST" id="formUpload">
        {% csrf_token %}
        <div class="form-group">
          <label for="txtAlbum">Album</label>
          <input id="txtAlbum" name="album" class="form-control basicAutoComplete col-4" value="{{ album.title }}"
                 placeholder="default" type="text" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="txtAlbum">File</label>
          <input id="file-0" name="file" multiple type="file">
        </div>
      </form>
    </div>
    <script>
    </script>
{% endblock %}
{% block scripts %}
  <script src="/static/js/fileinput.min.js" ></script>
  <script src="/static/js/fileinput/themes/fas/theme.min.js" ></script>
  <script src="{% static 'js/bootstrap-autocomplete.js' %}"></script>
<script>
    $("#file-0").fileinput({
        theme: 'fas',
        uploadUrl: '/upload',
        uploadExtraData: function(){
            return {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                'album': $("input[name=album]").val() || 'default'
            };
        },
    }).on('filepreupload', function(event, data, previewId, index) {

    }).on('fileuploaded', function(event, data, previewId, index) {
      var form = data.form, files = data.files, extra = data.extra,
        response = data.response, reader = data.reader;
      console.log('File uploaded triggered');
    });

    $(function(){
      $('.basicAutoComplete').autoComplete({
          resolverSettings: {
              url: 'albums/find.json'
          }
      });
    });
</script>
{% endblock %}