{% extends 'base.html' %}
{% load static %}
{% block header %}
  <link rel="stylesheet" href="/static/css/fileinput.min.css" >
  <link rel="stylesheet" href="/static/css/all.min.css" >
{% endblock %}
{% block content %}
    <div>
      <form method="POST">
        {% csrf_token %}
      <input id="file-0" name="file" multiple type="file">
      </form>
    </div>
    <script>
    </script>
{% endblock %}
{% block scripts %}
  <script src="/static/js/fileinput.min.js" ></script>
  <script src="/static/js/fileinput/themes/fas/theme.min.js" ></script>
  <script src="{% static 'js/bootstrap-autocomplete.js' %}"></script>
<script>
    $("#file-0").fileinput({
        theme: 'fas',
        uploadUrl: '/upload',
        uploadExtraData: {
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        },
    }).on('filepreupload', function(event, data, previewId, index) {
    });
</script>
{% endblock %}